@media all and (max-width:749px){
p{
  font-size:10px;
}
h2{
  font-size:120%;
}
h3{
  font-size:100%;
}
.left-body{
  display:none;
}
.right-body{
  width:100%;
}
.top-wrapper{
  height:200px;
}
.top-text{
  padding-top:70px;
}
.top-text h1{
  font-size:40px;
  text-shadow: 2px 4px 2px #808080;
}
.text{
  text-align: center;
}
.text h2{
  text-align: center;
}
.self-image{
  text-align: center;
  float:none;
}
.self-image img{
  height:40%;
  width:40%;
}
.profile h3{
  text-align: center;
}
.skill{
  text-align: center;
  padding:20px 0 0 0;
}
.skill-left{
  padding:0;
  float:none;
  text-align: center;
  width:100%;
}
.skill-right{
  display: inline;
}
.fab{
  font-size:40px
}
.star-rating {
  text-align: center;
  display: inline-block;
}
.skill p{
  padding-bottom:30px;
}
.contact-wrapper{
  text-align: center;
}
}
