@media all and (max-width:749px){
p{
  font-size:8px;
}
h2{
  font-size:120%;
}
h3{
  font-size:100%;
}
.left-body{
  display:none;
}
.right-body{
  width:100%;
}
.top-wrapper{
  height:300px;
}
.top-text{
  padding-top:120px;
}
.top-text h1{
  font-size:40px;
  text-shadow: 2px 4px 2px #808080;
}
.text{
  text-align: center;
}
.text h2{
  text-align: center;
}
.self-image{
  text-align: center;
}
.self-image img{
  height:40%;
  width:40%;
}
.profile h3{
  text-align: center;
}
.profile p{
  margin:0 30px;
}
.skill-left{
  padding:0 50px 0 80px;
}
.contact-wrapper{
  text-align: center;
}
}
