html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}
.container{
  width: 100%
  padding:0 15px
  margin:0 auto;
}
.row{
  display:flex;
  flex-wrap:wrap;
  margin:0 20px;
}
.centered{
  text-align: center;
}

header{
  height:60px;
  background-color:white;
}
.header-list{
  float:right;
}
.header-list li{
  float:left;
  line-height:60px;
  padding:0 20px;
}

.top-wrapper{
  height:400px;
  width:100%;
  background-color:rgba(255,190,0,0.7);
}
.top-text{
  padding-top:150px
}
.top-text h1{
  color:white;
  font-size:50px;
}
.top-wrapper a{
  color:#c0c0c0;
}


.about-wrapper{
  padding-bottom:70px;
  background-color:white
}
.heading{
  padding:50px 0;
}
.about-wrapper h2{
  color:rgba(255,190,0,0.7);
  font-size:40px;
}

.self-image{
  flex:auto;
  width:30%;
}
.self-text{
  flex:auto;
  width:30%;
}
.about-images{
  flex:auto;
  width:40%;
  display:flex;
  flex-wrap:wrap;
}
.self-image img{
  width:350px;
  height:350px;
}
.inner-text{
  width:350px;
  display:inline-block;
  border:1px solid gray;
}
.about-image{
  flex:auto;
  width:50%;
}
.about-image img{
  width:250px;
}


.skill-wrapper{
  background-color:rgba(0,0,0,0.2);
  padding-bottom:70px;
}
.skill-wrapper h2{
  color:rgba(0,0,0,0.6)
  font-size:70px;
}
.skills{
  display:flex;
  flex-wrap:wrap;
}
.skill{
  width:33%;
}
.fab{
  font-size: 40px;
}
.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
  display:block;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}
.skill-text{
  display:inline-block;
  width:80%;
}

.profile-wrapper{
  background-color:white;
  padding-bottom:70px;
}
.profile-wrapper h2{
  color:rgba(255,190,0,0.7);
  font-size:40px;
}
.event1{
  height:100px;
  position:relative;
}
.event-left{
  line-height:100px;
  float:left;
  width:20%;
  padding-right:100px;
  padding-left:120px;
}
.event-left h3{
  font-size:30px
}
.event-right{
  line-height:100px;
  width:80%;
}
.line{
  margin-left: 400px;
  width: 5px;
  height: 450px;
  background-color: rgba(0,0,0,0.6);
  position:absolute;
  top:-30px;
  left:20px;
}
.event2{
  height:100px;
}

footer{
  height:60px;
  background-color:rgba(0,0,0,0.5);
}
.footer-contents{
  line-height: 60px;
}
.footer-contents p{
  color:white;
}
